<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzl.wj.dao.UserTalksDao">
    <select id="getTalk" resultType="com.lzl.wj.pojo.Talk" parameterType="int">
        select * from talk where user_id=#{0};
    </select>
    <select id="getLoveId" resultType="int" parameterType="int">
        select talkid from user_talks where userid = #{0};
    </select>
    <update id="addLoveNumber" parameterType="int" >
        update talk set love_number = love_number + 1 where talk_id = #{0};
    </update>
    <insert id="addUserTalk">
        insert into user_talks values (#{userId}, #{talkId});
    </insert>
    <update id="subLoveNumber" parameterType="int">
        update talk set love_number = love_number - 1 where talk_id = #{0};
    </update>
    <delete id="subUserTalk">
        delete from user_talks where userid = #{userId} and talkid = #{talkId};
    </delete>
</mapper>
